/* ###################################### Estilo do Site para dispositivos de telas grande ############################################# */
* {
  margin: 0;
  padding: 0;
}
/* setup das variaveis*/
:root {
  --verde-fundo: #e7f3e9;
  --branco-principal: #ffffff;
  --fonte-principal: "Aldrich";
  --verde-principal: #4caf50;
  --marrom-principal: #795548;
  --azul-principal: #2196f3;
  --azul-rodape: #336699;
  --link: #0a4804;
  --preto-titulo: #000000;
}

/* configurações do corpo como fontes e cores*/
body {
  background-color: var(--verde-fundo);
  color: var(--preto-titulo);
  font-family: var(--fonte-principal);
  font-size: 20px;
  font-weight: 400;
}
/*Configurações de efeitos do mouse */
a:link {
  text-decoration: none;
  color: var(--link);
}
a:visited {
  color: var(--preto-titulo);
}
a:hover {
  text-decoration: underline;
  color: var(--azul-principal);
}
a:active {
  text-decoration: none;
}

/*estilo dos containers genericos*/
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*estilos do cabeçalho*/
.cabecalho {
  background-image: url("img/banner.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
}
.logo__principal {
  width: 20em;
}
.texto__cabecalho {
  font-size: 4em;
  font-weight: 700;
  color: var(--branco-principal);
}
.subtitulo__cabecalho {
  font-size: 2em;
  color: var(--branco-principal);
  margin-bottom: 20px;
}

/* estilo seção 1*/
.secao1__descricao {
  text-align: center;
  padding: 20px;
}
.secao1__titulo {
  font-weight: 700;
  font-size: 3em;
  color: var(--verde-principal);
  margin-bottom: 0.5em;
}
.secao1__texto {
  margin-top: 20px;
  font-size: 1.5em;
  line-height: 1.6;
  color: var(--marrom-principal);
}

/* estilo seção 2*/
.secao2__descricao {
  width: 60%;
  text-align: center;
  padding: 20px;
}
.secao2__titulo {
  font-weight: 700;
  font-size: 3em;
  color: var(--verde-principal);
  margin-bottom: 0.5em;
}
.secao2__texto {
  margin-top: 20px;
  font-size: 1.5em;
  line-height: 1.6;
  color: var(--marrom-principal);
}
/*
.secao2__botao{
    position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--azul-principal);
  color: var(--branco-principal);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.secao2__botao:hover{
  background-color: var(--verde-principal);
}
*/
/* estilo seção 3*/
.secao3__titulo {
  text-align: center;
  margin-top: 50px;
}
.secao3__img__titulo {
  font-weight: 700;
  font-size: 2.5em;
  color: var(--verde-principal);
}
.secao3__subtitulo {
  text-align: center;
  padding: 20px;
}
.secao3__img__subtitulo {
  font-size: 1.5em;
  color: var(--marrom-principal);
  margin-top: 20px;
}

/* estilo seção 4*/
.fotos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1em;
}
.fotos img {
  width: 90%;
}

/* estilo seção 4*/
.secao4__imagem {
  background-image: url("img/campo.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--branco-principal);
}
.secao4__texto {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  text-align: center;
}
.secao4__info {
  font-size: 2em;
}

/* estilo seção 5*/
.secao5 {
  padding: 50px 20px;
  text-align: center;
}
.secao5__texto {
  font-size: 1.5em;
  color: var(--marrom-principal);
}

.secao-mensagem {
  padding: 50px 20px;
  text-align: center;
  background-color: var(--verde-fundo);
}
.secao-mensagem__titulo {
  font-size: 2.5em;
  color: var(--verde-principal);
  margin-bottom: 20px;
}
.form-mensagem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-mensagem label {
  margin-top: 10px;
  font-size: 1.2em;
  color: var(--marrom-principal);
}
.form-mensagem input, .form-mensagem textarea {
  margin-top: 10px;
  padding: 10px;
  width: 50em;
  border: 1px solid var(--marrom-principal);
  border-radius: 5px;
}
.form-mensagem button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--verde-principal);
  color: var(--branco-principal);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-mensagem button:hover {
  background-color: var(--azul-principal);
}


/* estilo do rodape */
.rodape {
  position: relative;
  background-color: var(--azul-rodape);
  color: var(--branco-principal);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape__logo {
  width: 100px;
  margin-bottom: 10px;
}

.rodape__lista {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  order: 1;
}

.lista__link {
  margin: 0 10px;
}

.lista__link a {
  color: var(--branco-principal);
  text-decoration: none;
}

.lista__link a:hover {
  text-decoration: underline;
}

#botao__inicio {
  display: none; /* Escondido */
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--azul-principal);
  color: var(--branco-principal);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* aparecer sobre outros elementos */
}

#botao__inicio:hover {
  background-color: var(--verde-principal);
}

.contador-wrapper {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  order: 2;
  width: 100%;
  text-align: center;
}

.contador {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.contador-digito {
  background-color: var(--branco-principal);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contador-digito-numero {
  font-size: 2em;
  color: var(--azul-principal);
}

.contador-digito-texto {
  font-size: 1em;
  color: var(--marrom-principal);
}


/* Estilos para diferentes resoluções */

/* Mobile (<= 600px) */
@media (max-width: 600px) {

  #botao__inicio {
    padding: 10px 6px;
    bottom: 35px;
  }
  .rodape {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .rodape__lista {
    justify-content: center;
  }
  .rodape__logo {
    width: 300px;
  }

  .contador-wrapper {
    order: 3; /* Mover o cronômetro para o final */
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .contador {
    flex-direction: column; /* Ajustar os dígitos em uma coluna para melhor visualização */
    gap: 5px;
  }

  .contador-digito {
    width: 100%; /* Ajustar a largura dos dígitos para 100% */
    padding: 1px;
  }

  .contador-digito-numero {
    font-size: 1.5em; /* Ajustar o tamanho da fonte para melhor visualização em telas menores */
  }
  .rodape__logo{
    width: 200px;
    margin-right: 20px;
  }
  .img__links{
    border-radius:25px;
    width: 100px;
  }
}

/* Tablet (> 600px e <= 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  #botao__inicio {
    padding: 6px 6px;
    bottom: 135px;
    right: 10px;
  }

  .rodape {
    flex-direction: column;
    align-items: center;
  }

  .rodape__lista {
    justify-content: center;
  }

  .contador-wrapper {
    order: 3; /* Mover o cronômetro para o final */
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .contador {
    flex-direction: row; /* Ajustar os dígitos em uma linha */
  }

  .contador-digito {
    width: auto; /* Ajustar a largura dos dígitos para auto */
  }

  .contador-digito-numero {
    font-size: 2em; /* Ajustar o tamanho da fonte */
  }
  .rodape__logo{
    width: 200px;
    margin-right: 20px;
  }
  .img__links{
    border-radius:25px;
    width: 100px;
  }
}

/* Desktop (> 900px) */
@media (min-width: 901px) {
  #botao__inicio {
    /*opacity: 0; 
   height: 0;*/
    visibility: hidden
  }
 
  .rodape {
    flex-direction: row;
    justify-content: space-between;
  }

  .rodape__lista {
    order: 1;
  }

  .contador-wrapper {
    order: 2;
    width: auto;
  }

  .contador {
    flex-direction: row; /* Ajustar os dígitos em uma linha */
  }

  .contador-digito {
    width: auto; /* Ajustar a largura dos dígitos para auto */
  }

  .contador-digito-numero {
    font-size: 2em; /* Ajustar o tamanho da fonte */
  }
  .rodape__logo{
    width: 200px;
    margin-right: 20px;
  }
  .img__links{
    border-radius:25px;
    width: 100px;
  }
}
