:root{
    --cor-fundo: #171919 ;
    --cor-destaque: #30dd58;
    --cor-texto: #eff5ee;
}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 85%;
    max-width: 800px;
    text-align: center;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 1em;
}
.caixa-perguntas {
  color: var(--cor-texto);
  margin-bottom: 30px;
  font-size: 30px;
}
.texto-resultado{
    color: var(--cor-texto);
    margin-bottom: 30px;
}
h1{
    color: var(--cor-destaque);
    margin-bottom: 20px;
    font-size: 35px;
}
button {
    background-color: var(--cor-destaque);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
    margin: 10px;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.2em black
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
}

@media (max-width: 600px) {
h1{
color: var(--cor-destaque);
margin-bottom: 20px;
font-size: 25px;
}
.caixa-perguntas {
    color: var(--cor-texto);
    margin-bottom: 30px;
    font-size: 25px;
}

}